* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #c624db,#e2a2e2);
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

h1 {
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inputs {
    max-width: 768px;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.input:focus {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

.btn {
    flex: 100%;
    cursor: pointer;
}                                       

.btn:hover {
    box-shadow:0px 0px 10px 10px rgba(243, 178, 240, 0.808) inset;
    border-color:rgba(0, 0, 0, 0.5);
    border-width: 0.1px;
    border-style: solid;
}

.footer {
    opacity: 0.4;
    padding-top: 35vh;
}